<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <h1>Create Post</h1>
    <br>
    <form th:action="@{|/posts/create|}" method="POST" th:object="${post}">
        <label for="title">Title</label>
        <input id="title" type="text"  th:field="*{title}" placeholder="Enter title">
        <br>
        <label for="body">Body</label>
        <textarea id="body"  th:field="*{body}" placeholder="Enter body"></textarea>
        <br>
        <button type="submit">Save Post</button>
    </form>

</div>

</body>
</html>